%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [{gun, "2.2.0"},
        {jsx, "3.1.0"}]}.

%% https://github.com/erlang/rebar3/issues/2364#issuecomment-695819058
{overrides, [
    {override, gun, [{deps, [{cowlib, "2.15.0"}]}]}
]}.

{profiles,
 [{test,
   [
    {deps, [{cowboy, "2.12.0"}]}
   ]}]
}.

{xref_checks, [
        undefined_function_calls,
        undefined_functions,
        deprecated_functions_calls,
        deprecated_functions
]}.

{dialyzer,
 [
  %% {warnings, [unknown]},
  {plt_apps, all_deps}
 ]}.
