%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

%% XRef checks
{xref_checks, [
        undefined_function_calls,
        undefined_functions,
        deprecated_functions_calls,
        deprecated_functions
]}.

%% rebar3 format
{deps, [{gun, "1.3.0"},
        {pooler, "1.5.3"},
        {jiffy, "1.0.8"},
        {hut, "1.3.0"}]}.
