%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

%% rebar3 format
%% {deps, [{cowboy, "1.1.2"},
%%         {hackney, "1.12.0"},
%%         {jiffy, "0.15.1"}]}.
{deps, [{cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "1.1.2"}}},
        {hackney, ".*", {git, "https://github.com/benoitc/hackney.git", {tag, "1.12.0"}}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.1"}}}]}.

{overrides,
 [{override, jiffy,
   [
    {plugins, [pc]},
    {artifacts, ["priv/jiffy.so"]},
    {provider_hooks,
     [
      {post,
       [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
       ]
      }]
    }
   ]}
 ]}.
